@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Thanks</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
</head>
<body class="text-center">
    <p>
            <div>De gegevens zijn toegevoegd aan de database</div>
    </p>
    <a class="nav-link btn btn-lg btn-primary buttonlayout" id="buttoncustom" asp-action="ListSportAttributes">Ga terug naar de hoofdpagina</a>
</body>
</html>
