@using SportUnite.Domain.Models
@model SportUnite.WEBUI.Models.ViewModels.AddSportHallModel
@{
    Layout = "_Layout";
}
<form asp-action="AddSportHall" method="post">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <label asp-for="SportHall.Name">Sporthal naam</label>
        <input asp-for="SportHall.Name" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="SportHall.MaxPerson">Max. personen</label>
        <textarea asp-for="SportHall.MaxPerson" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="SportHall.MinPerson">Min. personen</label>
        <textarea asp-for="SportHall.MinPerson" class="form-control"></textarea>
    </div>
    <select asp-for="SportComplexId">
        <option value="">Choose an option</option>
        @foreach (SportComplex sportComplex in @Model.SportComplexes)
        {
            <option value=@sportComplex.SportComplexId>@sportComplex.Name</option>
        }
    </select>
    <div class="text-center">
        <button class="btn btn-primary" type="submit">Save</button>
        <a asp-action="ListSportHalls" class="btn btn-default">Cancel</a>
    </div>
</form>
